/src/config.json
/src/test_telegram.py
/src/test_email.py
/src/sqlite3_handler.py
/src/email_handler.py
/src/config.json
test.png
*.csv
*.jpeg
*.png
*.db
*__pycache__/

/src/model/
/.next
.next
/venv/